@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Regular.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
ul {
  list-style: none;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.header {
  height:950px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.87), rgba(51, 51, 51, 0.87)),url(img/bgc.png) center no-repeat ;
  background-size: cover;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}
.menu_list {
  display: flex;
  align-items: center;
}
.menu_list a {
  display: flex;
  align-items: center;
}
.menu__btn{
  display: none;
}
.mobile__menu{
  display: none;
}
.menu__list-item:not(:last-child, .icon) {
  padding-right: 40px;
}
.search_icon {
  padding-right: 16px;
}
.icon {
  padding-right: 25px;
}
.logo {
  margin: 0 auto;
}
.header__content {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  
}
.header__content h1 {
  margin-top: 523px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color:white;
  
}
.header__content-button{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  color:white;
  text-transform: uppercase;
  padding: 15px 35px;
  background: #333333;
  border:white solid 1px;
  margin-top:50px;
}
.header__footer{
  margin-top: 80px;
  border-top:1px solid white;
}
.header__footer-items{
  padding:30px 0;
  display: flex;
  flex-flow: row wrap;
  
  justify-content: center;
 
}
.header__footer-item{
  border-right: 1px solid white;
  margin-right: 15px;
  padding-right:15px;
}

.header__footer-item:last-child{
  margin-right: 0;
  border-right: none;
  padding-right: 0;
}

.categories{
  text-align: center;
}
.categories h4{
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 140%;
  margin-bottom: 15px;
  margin-top: 100px;
}
.categories h2{
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;  
  line-height: 41px;
  margin-bottom: 60px;
}
.categories__items{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 55px;
  height:61px;
}
.categories__items-item{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;;
  height: 55px;
  flex: 1 1 165px;
  border:1px solid #D6D6D6;
  margin-right: 18px;
  background: #F9F9F9;
  
}
.categories__items-item::after{
  position:absolute;
  content: "";
  top: 6px;
  left: 6px;
  width: 100%;
  height: 100%;
  
  z-index: -1;
}
.categories__items-item:hover a{
  
  color: #f9f9f9;
}
.categories__items-item:hover{
  background: black;
  height:61px;
}
#category1:target{
  background: black;
  height:61px;
}
#category1:target a{
  color: #f9f9f9;
}
#category1:target::after{
  top:0;
  left:0;
  border:none;
}
#category2:target{
  background: black;
  height:61px;
}
#category2:target a{
  color: #f9f9f9;
}
#category2:target::after{
  top:0;
  left:0;
  border:none;
}
#category3:target{
  background: black;
  height:61px;
}
#category3:target a{
  color: #f9f9f9;
}
#category3:target::after{
  top:0;
  left:0;
  border:none;
}
#category4:target{
  background: black;
  height:61px;
}
#category4:target a{
  color: #f9f9f9;
}
#category4:target::after{
  top:0;
  left:0;
  border:none;
}
#category5:target{
  background: black;
  height:61px;
}
#category5:target a{
  color: #f9f9f9;
}
#category5:target::after{
  top:0;
  left:0;
  border:none;
}
#category6:target{
  background: black;
  height:61px;
}
#category6:target a{
  color: #f9f9f9;
}
#category6:target::after{
  top:0;
  left:0;
  border:none;
}
.categories__items-item:hover::after{
  top:0;
  left:0;
  border:none;
}
.categories__items-item a{
  color:black;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.categories__photos{
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 120px;
  justify-content: space-between;
}

.categories__photos-item:not(:nth-child(n+4)){
  margin-bottom: 30px;
}
.salons{
  display: flex;
  flex-flow: column wrap;
  background: url(img/salons_bg.png) center no-repeat;
  background-size: cover;
}
.salons h4{
  margin-top: 100px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #f9f9f9;
}
.salons h2{
  margin-top: 15px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
}
.salons p{
  margin: 0 auto;
  max-width: 730px;;
  margin-top: 45px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}
.salons .link{
  display: flex;
  margin: 0 auto;
  padding:15px 35px;
  background-color: white;
  margin-top: 60px;
  margin-bottom: 100px;
}
.salons a{
  
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #333333;
}

.blog__posts{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.blog{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  
}
.blog h4{
  margin-top: 120px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: black;
}
.blog h2{
  margin-top: 15px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: black;
}
.blog__posts-post{
  margin-top: 60px;
  position: relative;
  flex:1 1 350px;
  color:black;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  
}
.blog__posts-post img{
  background:linear-gradient(180deg, rgba(180, 180, 180, 0) 0%, #333333 100%);
}
.blog__posts-post p{
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  margin: 0 auto;
  padding-top:248px;
  padding-bottom: 35px;
}
.blog__link{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  background:black;
  padding:15px 35px;
  margin-top: 75px;
}
.gallery{
  margin-top: 120px;
  text-align: center;
}
.gallery h4{
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 140%;
}
.gallery h2{
  margin-top: 15px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
}
.gallery_content{
  margin-top: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: hidden;
}
.gallery_content-item{
  display: flex;
}
.gallery_content-item-video{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery_content-item-video a{
  position: absolute; 
}
.subscribe{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background: url(img/salons_bg.png) center no-repeat;
  background-size: cover;
}
.subscribe h4{
  margin-top: 100px;
  color:white
}
.subscribe h2{
  margin-top: 15px;
  color:white;
}
.subscribe__texts{
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color:white;
  margin-right: 80px;
}
.subscribe__form-texts{
  margin-top: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
.subscribe__texts-text{
  display: flex;
  padding-bottom: 15px;
}
.subscribe__texts-text img{
  margin-right: 20px;
}
.subscribe__form-wrap{
  border:1px solid white;
  
  
}
.subscribe__form{
 display: flex;
 flex-flow: row wrap;
 padding: 20px 0;
 background: white;
 margin:15px 15px;
 justify-content: space-around;
}
.subscribe__form input{
  border: 1px solid #D6D6D6;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
  margin-right: 15px;
  width: 200px;
  padding:15px 0;
  padding-left: 20px;
  text-align: left;
  margin-left: 22px;
}
.subscribe__form button{
  display: flex;
  background-color: #333333;
  color: white;
  padding:15px 35px;
  border: none;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-right: 22px;
}
.footer {
  background: #f9f9f9;
}
.footer__content a {
  color: black;
}
.footer__content {
  display: flex;
  flex-flow:row wrap;
  padding-top: 80px;
  padding-bottom: 60px;
}
.footer__content .line {
  border: 1px solid black;
  margin-bottom: 30px;
}
.footer .line {
  border: 1px solid black;
}
.footer__content-item .title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */

  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.footer__content-item {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 255px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  padding-right: 30px;
}
.footer__content-item a {
  padding-bottom: 15px;
}
.footer__content-item img {
  margin-right: 20px;
}
.footer__content-item a {
  display: flex;
  align-items: center;
}
.links {
  display: flex;
  align-items: center;
}
.footer__links {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.footer__links a {
  color: black;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}
.footer__content img:hover {
  box-shadow: 0 0 10px rgb(226, 7, 43);
}
.footer__content a:hover {
  color: crimson;
}
.footer__links a:hover {
  color: crimson;
}


.catalog__header{
  background: #333333;
}
.catalog__header .header_inner{
  padding-bottom: 32px;
}
.catalog__filters{
  padding-top: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  cursor: default;
}
.catalog__filters-filter{
  
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
  padding-bottom: 10px;
  border-bottom: 1px solid #D6D6D6;
  flex-basis: 160px;
}
.catalog__filters-filter:hover {color: #E6855F;}
.filter_submenu li:hover{color:#E6855F;}
.filter_submenu {
  background: white;
  border: 2px solid #003559;
  position: absolute;
  left: 0;
  top:32px;
  visibility: hidden;
  opacity: 0;
  
  width: 150px;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: .6s ease-in-out;
}
.catalog__filters-filter:hover .filter_submenu {
  visibility: visible;
  opacity: 1;
	transform: perspective(600px) rotateX(0deg);
}
.filter_submenu li {
  color: #7f7f7f;
  font-size: 13px;
  line-height: 36px;
  padding: 0 25px;
  font-family: 'Kurale', serif;
  transition: .4s ease-in-out;
}
.catalog{
  text-align: center;
}
.main{
  background: #F9F9F9;
  
}
.catalog__items{
  display:flex;
  flex-flow:row wrap;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid #D6D6D6;
  box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.25);
  
}
.catalog__items h4{
  margin-top: 25px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}
.catalog__items h2{
  margin-top: 10px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
}
.catalog__items-item{
  margin: 60px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 30px 30px;
}
.catalog__items .buy_button{
  margin-top: 15px;
  padding:10px 20px;
  background:#333333;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.catalog__items:last-of-type{
  border-bottom: none;
  box-shadow: none;
  
}
.catalog__more{
  display: inline-flex;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  background:black;
  padding:15px 35px;
  margin: 0 auto;
}

.catalog__seo-text p{
  width: 540px;
  position: relative;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  overflow: hidden;
}

.read-more-state {
  display: none;
}

.read-more-target {
  
  transition: .25s ease;
  content: "";
  position: absolute; top: 0; bottom: 0; left: -15px; right: -15px;
  box-shadow: inset #F9F9F9 0px -200px 200px;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
  box-shadow: none;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Читать полностью';
}
.read-more-trigger {
  color: black;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-bottom: 1px dashed black;
}
.catalog__seo-text__and__pluses{
  display: flex;
  flex-flow: row wrap;
  margin-top: 150px;
  justify-content: space-around;
}
.catalog__pluses{
  display: flex;
  max-width: 277px;
  flex-flow: row wrap;
  justify-content: space-between;
}
.catalog__pluses-plus{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  /* border: 1px solid red; */
  text-align: center;
}
.catalog__pluses-plus:nth-child(n+3){
  margin-top: 30px;
}
.catalog__pluses-plus img{
  height:70px;
  width: 70px;
  margin: 0 auto;
}
.catalog__pluses-plus p{
  height: 48px;
  padding-top: 15px;
}
.subscribe.catalog{
  margin-top: 150px;
}


.breadcrumbs{
  padding-top: 60px;
  padding-bottom: 51px;
  display: flex;
  justify-content: center;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}
.breadcrumbs li a{
  text-decoration-line: underline;
  color: #333333;
  
}
.breadcrumbs li:not(:last-child):after{
  content: "/";
  margin:0 15px;
}
.product__images-and-desc{
  display: flex;
  flex-flow: row wrap;
}
.product__card-images{
  display: flex;
  flex-flow: row wrap;
  width: 540px; 
  margin-right: 30px;
}
.product__card-image{
  display:flex;
}
.product__card-image:not(:first-child){
  margin-top: 30px;
  margin-right: 30px;
}
.product__card-image:last-child{
  margin-top:30px;
  margin-right: 0;
}
.product__main-desc{
  border:#D6D6D6 solid 1px;
  position: relative;
  padding-left:40px;
  padding-top:50px;
  padding-right: 40px;
  padding-bottom: 50px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start; 
  flex: 50;
}
.product__main-desc::after{
  position: absolute;
  content: " ";
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  border:#D6D6D6 solid 1px;
  margin:10px;
}
.product__main-desc h2{
  padding-bottom: 30px; 
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.product__main-desc .category_group,.brand_group{
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #979797;
  padding-bottom: 30px;
}
.product__main-desc .category_group{
  display: flex;
  flex-flow: row wrap;
  margin-right: 25px;
}
.product__main-desc .category_group p:first-child{
  margin-right: 15px;
}
.product__main-desc .brand_group{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.product__main-desc .brand_group p:first-child{
  margin-right: 15px;
}
.product__main-desc .main-text{
  padding-top: 30px;
  border-top: 1px solid #D6D6D6;
  align-items: flex-start;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}
.cost{
  margin: 30px 0;
  width: 100%;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.product__main-desc a{
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  
}
.product__main-desc .buy_button{
  background: #333333;
  padding: 10px 20px;
  border:1px solid #333333;
  margin-right: 30px;
  z-index: 1;
}
.product_card .buy_button{
  background: #333333;
  padding: 10px 20px;
  border:1px solid #333333;
  margin-right: 30px;
  z-index: 1;
}
.add_button{
  padding: 10px 20px;
  border:1px solid #333333;
  z-index: 1;
}
.add_button a{
  color: #333333;
}
.catalog__seo-text h2{
  margin-bottom: 30px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
}
.more_goods{
  text-align: center;
  margin-top: 120px;
}
.more_goods h4{
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 140%;
}
.more_goods h2{
  margin-top: 15px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
}
.more_goods .products{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.product_card{
  margin-top: 60px;
  padding: 35px;
  display: flex;
  flex-flow: column;
}
.product_card .item_name{
  margin-top: 15px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}
.product_card .brand_name{
  margin-top: 10px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
}
.product_card .buy_button{
  margin: 0 auto;
  margin-top: 15px;
}
.contacts__wrap{
  text-align: center;
  overflow: hidden;
}
.contacts__wrap .main_img{
  margin-top: 60px;
}
.contacts{
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding-bottom: 60px;
  border-bottom: 1px solid #D6D6D6;
}
.contacts__wrap h2{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.contacts h4{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
}
.contacts a{
  color: #333333;
  display: flex;
  align-items: center;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}
.contact{
  display: flex;
  flex-flow: column wrap;
}
.contact h4{
  margin-top: 40px;
  margin-bottom: 25px;
}
.contact img{
  margin-right: 10px;
}
.contact a:not(:first-of-type){
  margin-left: 30px;
  margin-top: 15px;
}




@media (max-width:480px) {
  .header_inner{
    justify-content: space-evenly;
  }
  .header__footer{
    display: none;
  }
  .logo{
    margin: 0;
    z-index: 10;
  }
  .menu{
    display: none;
  }
  .catalog__items{
    justify-content: center;
  }
  .menu__btn{

    display: block;
    height:50px;
    width:50px;
    background: url(img/menu_btn.svg);
    background-size: cover;
    border: none;
    z-index: 10;
  }
  .categories__photos-item{
    margin-bottom: 0 !important;
  }
  .categories__items{
    height: auto;
  }
  .categories__photos{
    justify-content: center;
    overflow: hidden;
  }

  .blog__posts{
    overflow: hidden;
  }
  .subscribe{
   text-align: center; 
  }
  .subscribe__texts{
    margin-right:0;
  }
  .subscribe__form input{
    width: 100%;
    margin: 0;
    padding-left: 0;
  }
  .subscribe__form input::placeholder{
    text-align: center;
  }
  .subscribe__form button{
    width: 100%;
    margin: 0;
    justify-content: center;
  }
  .footer__links a{
    padding-top: 10px;
  }
  .footer__links{
    flex-flow: column;
    align-items: center;
  }
  .footer__content{
    text-align: center;
  }
  .footer__content-item{
    padding-right: 0;
  }
  .footer__content-item:not(:first-child){
    margin-top: 20px;
  }
  .footer__content-item a{
    justify-content: center;
  }
  .links{
    justify-content: center;
  }
  .catalog__seo-text{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .more_goods .products{
    justify-content: center;
  }
  .catalog__seo-text p{
    width: 100%;
  }
  .breadcrumbs{
    flex-flow: row wrap;
  }
  .product_card{
    overflow: hidden;
    padding: 0;
  }
  .product__card-images{
    width: 100%;
    overflow: hidden;
    margin: 0;
  }
  .container{
    max-width: none;
  }
  .filter_submenu{
    z-index: 1;
  }
  .product__images-and-desc{
    flex-flow:row wrap;
    padding: 0;
  }
  .mobile__menu{
    display: block;
    background: #333333;
    padding-left: 35px;
    padding-right: 35px;
    width: 100%;
    height: 100%;
    position: absolute;
    left:-1000%;
    top: 0;
    transition: 0.2s ease-in ;
  }
  .mobile__menu.active{
    left: 0;
    padding-top: 112px;
  }
  .mobile__menu-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile__menu-item{
    padding-top: 30px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
  }

  .mobile__menu-icons.border{
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 30px 0;
    margin-top: 35px;
    margin-bottom: 25px;
    justify-content:unset;
  }
  .mobile__menu-icons.border img{
    height:33px;
    width: 33px;
    margin: 8px;
  }
  .mobile__menu-icon{
    margin-right: 35px;
  }
}